<%include ../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/sign.css">
<link rel="stylesheet" href="/static/css/layout/header.css">
<div class="header_Fix">
  <div class="header">
    <a href="/"><img src="/static/img/layout/l0.png" class="logo" alt=""></a>
    <img src="/static/img/layout/l1.png" class="logo" alt="">
    <ul class="menu">
      <li ><a href="/user">用户中心</a></li>
      <li class="this_menu"><a href="/sign">合同签署</a></li>
      <li><a href="/manage">合同管理</a></li>
    </ul>
  </div>
</div>
<div class="new_Content">
  <div class="single step_Con">
    <p class="single step_Tit">Step1 上传文件</p>
    <div class="single step_Box">
      <div class="step_file">
        <img src="/static/img/model/upfile.png" alt="">
      </div>
      <div class="step_Info">
        <div class="step_InfoSingle">
          <span class="step_Txt">设置合同名称：</span>
          <div class="step_InBox"><input type="text"></div>
        </div>
        <div class="step_InfoSingle">
          <span class="step_Txt">设置截止日期：</span>
          <div class="step_InBox">
            <input type="text" id="test1" class="layui-input" >
            <img class="calendar" src="/static/img/model/calendar.png" alt="">
          </div>
        </div>
        <div class="step_InfoSingle">
          <span class="step_Txt">备注信息：</span>
          <div class="step_InBox"><input type="text"></div>
        </div>
        <div class="step_InfoSingle">
          <span class="step_Txt">是否发起绝密合同：</span>
          <form class="layui-form">
            <input type="checkbox" id="SwitchHeader" name="switch" lay-filter="switchEncrypt" lay-text="ON|OFF" lay-skin="switch">
          </form>
          <p class="step_Tip">
            <img src="/static/img/model/tip.png" alt="">
            <span>您的合同将不会上传至服务器保存，只有签署双方可见。</span>
          </p>
        </div>
      </div>
    </div>
    <p class="single step_Tit">Step2 选择签署方</p>
    <div class="single step_Box" style="padding-top: 0;">
      <img src="/static/img/model/user.png" style="float: left;margin: 18px 0;" alt="">
      <ul class="single step_List">
        <li>
          <div class="list_Bor">
            <span>1</span>
            <input type="text" value="张三">
            <input type="text" value="12312312123123">
          </div>
          <button>撤&nbsp;&nbsp;销</button>
        </li>
        <li>
          <div class="list_Bor">
            <span>2</span>
            <input type="text" placeholder="姓名、机构号">
            <input type="text" placeholder="账号(手机号)">
          </div>
          <button>撤&nbsp;&nbsp;销</button>
        </li>
      </ul>
      <div class="step_Add">+添加签署方</div>
      <div class="single step_Next">
        <button><a href="/signnext">下一步</a></button>
      </div>
    </div>
  </div>
  <div class="fade_Box">
    <div class="step_User">
      <img src="/static/img/layout/close.png" alt="" class="fade_Close">
      <p class="step_UserTit">请选择要添加的联系人：</p>
      <div class="step_UserLeft">
        <div class="step_UserSearch">
          <img src="/static/img/model/serch.png" alt="">
          <input type="text">
        </div>
        <ul class="single step_User_List">
          <li class="top">
            <span>姓名、企业名</span>
            <span>账号（手机号）</span>
          </li>
          <li>
            <span>Echonessy</span>
            <span>18888888888</span>
          </li>
          <li>
            <span>张三</span>
            <span>18888888888</span>
          </li>
          <li>
            <span></span>
            <span></span>
          </li>
          <li>
            <span></span>
            <span></span>
          </li>
          <li>
            <span></span>
            <span></span>
          </li>
        </ul>
      </div>
      <div class="step_UserRight">
        <ul class="single step_User_List_Done">
          <li class="top">
            <span>已添加列表</span>
          </li>
          <li>
            <span>张三</span>
            <i class="layui-icon layui-icon-close"></i>
          </li>
          <li>
            <span>张三</span>
            <i class="layui-icon layui-icon-close"></i>
          </li>
          <li>
            <span>张三</span>
            <i class="layui-icon layui-icon-close"></i>
          </li>
          <li>
            <span>张三</span>
            <i class="layui-icon layui-icon-close"></i>
          </li>
          <li>
            <span>张三</span>
            <i class="layui-icon layui-icon-close"></i>
          </li>

        </ul>
      </div>
      <div class="single step_User_CerBtn">
        <button>确认</button>
      </div>
    </div>
  </div>
</div>


<script>

   //初始化LayUI组件
   initLayUi()
    function initLayUi() {
        layui.use(['form', 'laydate'], function(){
            var laydate = layui.laydate;
            var form = layui.form;
            //常规用法
            laydate.render({
                elem: '#test1',
                theme: '#2F53B1'
            });
            //监听指定开关
            form.on('switch(switchEncrypt)', function(data){
                layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'));
            });
        });
    }
    //打开弹窗相关事件
    fadeEvt()
    function fadeEvt() {
        //    打开弹窗
        $('.step_Add').on('click',function () {
            $('.fade_Box').stop(true).fadeIn(150);
        })
        //    关闭弹窗
        $('.fade_Close').on('click',function () {
            $(this).parents('.fade_Box').stop(true).fadeOut(150);
        })
        //    移除已添加列表
        $('.step_User_List_Done i').on('click',function () {
            $(this).parent('li').remove();
        })
    }
</script>
