<%include ../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/sign.css">
<link rel="stylesheet" href="/static/css/layout/header.css">
<div class="header_Fix">
  <div class="header">
    <a href="/"><img src="/static/img/layout/l0.png" class="logo" alt=""></a>
    <img src="/static/img/layout/l1.png" class="logo" alt="">
    <ul class="menu">
      <li ><a href="/user">用户中心</a></li>
      <li class="this_menu"><a href="/sign">合同签署</a></li>
      <li><a href="/manage">合同管理</a></li>
    </ul>
  </div>
</div>
<div class="new_Content">
  <div class="sign_Con">
    <div class="single"><button class="back_Manage"><a href="/manage">返回合同管理</a></button></div>
    <div class="single sign_Box">
      <div class="sign_Left">
        <div class="sign_Intro">
          <p class="intro_Txt">Step1 合同信息：</p>
          <div class="intro_Signle">
            <span>合同名称：</span>
            <span>XXX合同</span>
          </div>
          <div class="intro_Signle">
            <span>截止日期：</span>
            <span>2018-12-12</span>
          </div>
          <div class="intro_Signle">
            <span>备注：</span>
            <span class="bacDC">XXX合同</span>
          </div>
        </div>
        <div class="sign_Intro">
          <p class="intro_Txt">Step2 签署方：</p>
          <div class="intro_Signle">
            <span>1.张三</span>
            <span>Tel：18765739310</span>
          </div>
          <div class="intro_Signle">
            <span>1.Echonessy</span>
            <span>Tel：18765739310</span>
          </div>
        </div>
        <div class="sign_Intro">
          <p class="intro_Txt">Step3 提交签名：</p>
          <div class="sign_Img" id="sign_Img">
            <div class="drag_Box">
              <img src="/static/img/logo.png"  class="" alt="">
            </div>
          </div>
          <span class="intro_Drag">（左键点击拖动至右侧合适位置）</span>
          <button class="change_Btn">更改签署</button>
        </div>
      </div>
      <div class="sign_Right">
        <div class="MainBox" id="MainBox">
          <div class="DragBox" id="DragBox"></div>
          <img id="bac" src="/static/img/demo/signDemo/bag.jpg" alt="">
        </div>
        <div class="sign_Opr single">
          <button><a href="/agreesign">同意签署</a></button>
          <button><a href="/refusesign">拒绝签署</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/sign/index.js"></script>
