.dataBox{padding-top: 0.8385rem;padding-bottom: 0.9635rem; display: flex;flex-direction: column;justify-content: center;align-content: center; }
.dataList{width:6.2rem;box-sizing: border-box;float: left; overflow: hidden;margin: 0 auto; }
.dataList li{width: 1.2rem; box-sizing: border-box; overflow: hidden;display: inline-block;}
.dataList li:nth-child(2) {margin: 0 1.2rem;}
.dataList li img,.dataList li span{float: left;width: 100%;box-sizing: border-box;text-align: center;}
.dataNum {height: 0.3385rem;line-height: 0.3385rem;font-size: 0.28125rem;color:#969696; }
.dataFlag {height: 0.4167rem;line-height: 0.4167rem;font-size: 0.1875rem;color:#969696; }
