.app_Content{float: left;width: 100%;position: fixed;top:0;left: 0; box-sizing: border-box;overflow: hidden;}
.app_Tit{background:  #2E52AE; float: left;width: 100%;box-sizing: border-box;text-align: center; line-height: 60px;font-size: .5rem;color: #fff;text-align: center;}

