<link rel="stylesheet" href="/static/css/model/signlayout.css">
<div id="iden_Box" class="fade_Box">
    <div class="iden_Box box_Center">
        <img src="/static/img/layout/close.png" alt="" class="fade_Close">
        <p class="single iden_Tit">身份验证</p>
        <div class="single iden_Con">
            <p class="single iden_ConTxt">接收手机号：123***456</p>
            <div class="single iden_Line">
                <input type="text">
                <button>获取验证码</button>
            </div>
        </div>
        <div class="single iden_Con">
            <p class="single iden_ConTxt">生成cipher text</p>
            <div class="single iden_Line">
                <input type="text">
                <button>私钥导入</button>
            </div>
        </div>
        <div class="single iden_CerBtn">
            <button id="iden_CerBtn">确&nbsp;&nbsp;认</button>
        </div>
    </div>
</div>


<script>
    iden_Fade_Evt()
    function iden_Fade_Evt() {
        $('.fade_Close').on('click',function () {
            $(this).parents('.fade_Box').stop(true).fadeOut(150);
        })
        $('#iden_CerBtn').on('click',function () {
            window.location.href = "/initiatesign";
        })
    }
</script>

