<%include layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/index/index.css">
<div class="single main">
    <%include layout/header.ejs%>
    <%include layout/adver.ejs%>
    <%include layout/databox.ejs%>
    <%include model/login.ejs%>
</div>
<script>
    fadeLogIn()
    function fadeLogIn() {
        $("#startSignBtn").on('click',function () {
            $('#loginMain').stop(true).fadeIn(150);
        })
        $("#login_Close").on('click',function () {
            $('#loginMain').stop(true).fadeOut(150);
        })
    }
</script>
<%include layout/nullfooter.ejs%>