<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,<br> initial-scale=1,<br> minimum-scale=1,<br> maximum-scale=1,<br>user-scalable=no">
    <title>Welcome</title>
    <style>
        .Content{text-align: center;padding: 60px;box-sizing: border-box; }
        .Content img{width: 100px;}
        .Content p{font-size: 30px;margin-top: 30px;}
    </style>
</head>
<body>
<div class="Content">
    <img src="/static/img/logo.png" alt="">
    <p>Hello! I'm Echonessy</p>
</div>
</body>
</html>