
<div class="user_FunCon">
  <p class="user_AccountTitle">认证状态</p>
  <ul class="single account_List">
    <li>
      <p>姓名：</p>
      <div>李某</div>
    </li>
    <li>
      <p>身份证号：</p>
      <div>11010112345679932</div>
    </li>
    <li>
      <p>手机号：</p>
      <div>12345678910</div>
    </li>
    <li>
      <p>公钥：</p>
      <div>298dh872yr8273r8</div>
    </li>
    <li>
      <p>工作单位：</p>
      <div>
        <input type="text">
        <span class="acc_Btn">企&nbsp;业&nbsp;认&nbsp;证</span>
      </div>
    </li>
    <li>
      <p>职位：</p>
      <div>
        <input type="text">
        <span class="acc_Btn">确&nbsp;&nbsp;定</span>
      </div>
    </li>
  </ul>
  <p class="acc_Ok">确&nbsp;&nbsp;定</p>
</div>