<div class="user_FunCon ">
  <p class="single user_AccountTitle">我的签章</p>
  <ul class="single user_SignList" id="user_SignList">
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
    <!--<li><img src="/static/img/logo.png" alt=""></li>-->
  </ul>
  <div class="single sign_Choice">
    <div class="sign_file">
      <img src="/static/img/model/add.png" alt="">
      <span>在线添加签章</span>
    </div>
    <div class="sign_file">
      <img src="/static/img/model/add.png" alt="">
      <span>从本地添加签章</span>
    </div>
  </div>
</div>
<div class="sign_Fade">
  <div class="sign_Get">
    <button class="file_Btn">选择本地文件</button>
    <p class="file_Name">/asda</p>
    <div style="clear: both;"></div>
    <div class="fileImgBox"></div>
    <div id="slider" style="transition: none;"></div>
    <div class="single sign_GetBtnBox">
      <button>保&nbsp;存</button>
      <button>取&nbsp;消</button>
    </div>
  </div>
</div>

<script>

</script>