<%include ../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/user.css">
<link rel="stylesheet" href="/static/css/layout/header.css">
<div class="single  header">
    <img src="/static/img/layout/logo.png" class="logo" alt="">
    <ul class="menu">
        <li class="this_menu"><span>用户中心</span></li>
        <li><span>用户中心</span></li>
        <li><span>用户中心</span></li>
    </ul>
</div>
<ul class=" userLeft">
    <li class="this_UserMenu">账号信息</li>
    <li>签章管理</li>
    <li>联系人管理</li>
</ul>
<div class="user_Con">
    <div class="user_Fun dino">
        <%include accinfo.ejs%>
    </div>
    <div class="user_Fun dino">
        <%include signinfo.ejs%>
    </div>
    <div class="user_Fun ">
        <%include linkinfo.ejs%>
    </div>
</div>

<%include ../layout/nullfooter.ejs%>