<%include ../layout/webheader.ejs%>
<%include ./layout/header.ejs%>
<link rel="stylesheet" href="/static/css/model/manage.css">
<div class="new_Content">
  <div class="mana_Content">
    <div class="single mana_Search">
      <div class="mana_SearchBox">
        <img src="/static/img/model/serch.png" alt="">
        <input type="text">
      </div>
    </div>
    <ul class="single mana_Tab" id="mana_Tab">
      <li class="this_Tab">全部文件</li>
      <li>待我签</li>
      <li>待对方签</li>
      <li>已完成</li>
      <li>已拒签</li>
      <li>草稿箱</li>
    </ul>
      <!--列表区-->
    <ul class="single mana_TabCon" id="mana_TabCon">
      <!--全部-->
      <li id="total_List"></li>
      <!--待我签-->
      <li id="wait_Me"></li>
      <!--待对方签-->
      <li id="wait_You"></li>
      <!--已完成-->
      <li id="sign_Done"></li>
      <!--已拒签-->
      <li id="refuse_List"></li>
      <!--草稿箱-->
      <li id="sign_Draft"></li>
    </ul>
  </div>
</div>
<!--是否删除-->
<div class="fade_Box" id="is_Del">
  <div class="is_DelBox box_Center">
    <p class="single is_DelTit">是否删除此项目</p>
    <div class="single is_DelOpr">
      <button class="del_Ok">删&nbsp;除</button>
      <button class="del_No">取&nbsp;消</button>
    </div>
  </div>
</div>

<script src="/static/js/manage/index.js"></script>
<%include ../layout/nullfooter.ejs%>


