<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no"/>
  <title>手写签名</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/appcode/index.css">
  <script src="/static/js/common/fontSize.js"></script>
  <script src="/static/js/common/jquery.min.js"></script>
</head>
<body>
<div class="app_Content" id="app_Content">
  <p class="app_Tit">请描写您的签名</p>
  <div class="single" style="margin-top: 20px;">
    <canvas id="myCanvas" style="background: #ccc;"></canvas>
  </div>
</div>

<script src="/static/js/appcode/creatcanvas.js"></script>
</body>
</html>