<%include ../layout/webheader.ejs%>
<button class="btn btn-primary" id="creat_Key">创建加密串</button>
<div id="result" style="box-sizing: border-box;padding: 40px;"></div>
<script src="/static/js/wasm/index.js"></script>
<%include ../layout/nullfooter.ejs%>


