<%include ../../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/sign.css">
<%include ../layout/signheader.ejs%>
<div class="new_Content">
  <div class="single info_Box">
    <div class="single info_IntroBox">
      <div class="info_Intro">
        <p><span>合同名称：</span><span id="contractName"></span></p>
        <p class="info_Look">（点击预览）</p>
      </div>
      <div class="info_Intro">
        <span>合同状态：</span>
        <span id="contractStatus"></span>
      </div>
      <div class="info_Intro">
        <span>合同编号：</span>
        <span id="contractNo"></span>
      </div>
      <div class="info_Intro">
        <p class="w270">
          <span>发起时间：</span>
          <span id="startTime"></span>
        </p>
        <span>签署时间：</span>
        <span id="completeTime"></span>
      </div>
      <div class="info_Intro">
        <p class="w270">
          <span>发起人：</span>
          <span class="w119" id="initiatorName">我</span>
        </p>
        <span>发起人账号（手机）：</span>
        <span id="initiatorPhone"></span>
      </div>
    </div>
    <p class="info_Tit">签约主体信息：</p>
    <ul class="single info_List" id="roleList"></ul>
    <p class="info_Tit">合同存证信息：</p>
    <ul class="single info_List info_List_Two" id="proofList"></ul>
    <div class="single info_Botxt">
      <span>合同发起上链信息：</span>
      <a href="" id="contractStartBlockUrl"></a>
      <span class="fs14">（点击在区块链浏览器中查询）</span>
    </div>
    <div class="single info_Botxt">
      <span>签署完成上链信息：</span>
      <a href="" id="contractEndBlockUrl"></a>
      <span class="fs14">（点击在区块链浏览器中查询）</span>
    </div>
    <div class="single back_SignBtn">
      <button><a href="/sign">返回主页</a></button>
    </div>
  </div>
  <div class="showPreConImg">
    <img src="" id="contractUrl" alt="">
  </div>
</div>
<script src="/static/js/sign/signInfo.js"></script>
<%include ../../layout/nullfooter.ejs%>