<link rel="stylesheet" href="/static/css/layout/advertising.css">
<div class="single advertising">
  <img src="/static/img/layout/adv.png" class="advertImg" alt="">
  <div class="advCenter">
    <img src="/static/img/layout/txt.png" class="advtxt" alt="">
    <div class="startSignBtn">发&nbsp;起&nbsp;签&nbsp;约</div>
  </div>
</div>