<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Echonessy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <script src="/static/js/common/fontSize.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/js/common/common.js"></script>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <script src="/static/plugin/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/plugin/swiper/swiper.min.css">
    <script src="/static/plugin/swiper/swiper.min.js"></script>
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
    <script src="/static/plugin/bootstrap/js/bootstrap.js"></script>
</head>
<body>
