<link rel="stylesheet" href="/static/css/layout/databox.css">
<div class="single dataBox">
  <ul class=" dataList">
    <li>
      <img src="/static/img/layout/10.png" alt="">
      <span class="dataNum">1234</span>
      <span class="dataFlag">待我签</span>
    </li>
    <li>
      <img src="/static/img/layout/21.png" alt="">
      <span class="dataNum">176</span>
      <span class="dataFlag">他人签</span>
    </li>
    <li>
      <img src="/static/img/layout/30.png" alt="">
      <span class="dataNum">126</span>
      <span class="dataFlag">即将截止</span>
    </li>
  </ul>
</div>