
<div class="layui-side layui-bg-black" style="top: 80px;">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="this_nav">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:void (0);">RSA加密</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void (0);" lay-id="ONL0001" data-type="tabAdd">选项1</a></dd>
                    <dd><a href="javascript:void (0);" lay-id="ONL0002" data-type="tabAdd">选项2</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
        </ul>
    </div>
</div>


