.loginMain{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 99999;display: none;}
.loginBox{width: 4.895rem;padding: 0.51rem 0.885rem 0 0.885rem; box-sizing: border-box;float: left; height: 2.92rem;background: white;border-radius: 0.052rem;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.inputBox{height:0.4167rem;background: #E6E6E6;padding: 0.1rem;margin-bottom: 0.15625rem;}
.inputBox input{float: left;background: #E6E6E6;border: 0;outline: none; box-sizing: border-box;height: 100%;font-size: 0.15625rem;}
.input1{width: 100%;}
.input2{width: 1.667rem;}
.inputBox input::-webkit-input-placeholder {  color: #C2C1C1;  }
.sendTxt{float: right;height:0.2rem;padding-left: 0.104rem;cursor: pointer; width: 1.0677rem;box-sizing: border-box;border-left: 0.015625rem solid #C2C1C1;font-size: 0.15625rem;color:#C2C1C1;line-height: 0.2rem;  }
.loginBtn{float: left;cursor: pointer; margin-top: 0.104rem;width: 100%;height: 0.364rem;border-radius: 0.182rem; line-height: 0.364rem;;color: white;text-align: center;font-size: 0.1927rem;background: #768ECC;}
.loginBtn:hover{background: #6279B6;}
.login_Close{width: 40px;position: absolute;right: 20px;top: 20px;cursor: pointer;}